body{
    margin: 0px;
    background-color: #d3d3d3;
      
}
.texto-base{
    text-decoration: blueviolet;
}
h2{
    text-align: center;
}
img{
    width: 100px;
    margin-left: 400px;
    
}
.redes-sociais{
    margin-top: 28%;
}
.cabecalho{
    text-align: center;
    font-size: 30px;
    font-weight: 30px;
}
.mark{
    text-align: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 .table{
     text-align: center;
     margin-top: 100px;
 }